#ignore thumbnails created by windows
Thumbs.db

# Help docs
doc/html/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# IDEs projects settings
.idea/*
*.user.*
*.uvguix.*
*.suo
*.uvmpw
*.uvoptx
*.uvprojx

# Compiled Static libraries
Objects/*
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
